name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/react-mern-stack-arthit:latest

  deploy_to_aws:
    name: Deploy to AWS Self-Hosted Runner
    needs: build_and_push
    runs-on: [self-hosted, Linux, X64]
    environment: production
    steps:
      - name: Pull latest image from Docker Hub
        run: |
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/react-mern-stack-arthit:latest

      - name: Stop and remove existing container
        run: |
          sudo docker stop mern-stack-node || true
          sudo docker rm mern-stack-node || true

      - name: Run new container
        run: |
          sudo docker run -d -p 3000:3000 --name mern-stack-react ${{ secrets.DOCKERHUB_USERNAME }}/react-mern-stack-arthit:latest
